@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "georgian";
  src: url("/fonts/georgian/NotoSansGeorgian_Condensed-Medium.ttf");
}

.regular {
  font-family: regular;
}

.medium {
  font-family: medium;
}

.semibold {
  font-family: semibold;
}

.bold {
  font-family: bold;
}

.button-49,
.button-49:after {
  background: linear-gradient(45deg, transparent 5%, white 5%);
  border: 0;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px black;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "შესვლა";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    black 3%,
    black 5%,
    white 5%
  );
  text-shadow: -3px -3px 0px white, 3px 3px 0px black;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 330px;
    height: 66px;
    line-height: 88px;
  }
}

.seeMore::-webkit-scrollbar {
  width: 2px;
}

.seeMore::-webkit-scrollbar-thumb {
  background-color: black;
}

.seeMore::-webkit-scrollbar-track {
  margin-top: 12px;
  margin-bottom: 12px;
}

.paper {
  background-image: url("/images/paper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  overflow-y: hidden !important;
  width: 100%;
  height: 100%;
}

.finish:-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}


.content {
  overflow: hidden; /* Ensures no content overflows the page */
}

.page {
  page-break-after: always; /* Forces content to move to the next page */
  page-break-inside: avoid; /* Prevents breaks within this element */
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fff, -20px 0 var(--loader-color, rgba(255,255,255,0.5));
    background: #fff;
  }
  33% {
    box-shadow: 20px 0 #fff, -20px 0 var(--loader-color, rgba(255,255,255,0.5));
    background: var(
      --loader-color,
      rgba(255,255,255,0.5)
    );
  }
  66% {
    box-shadow: 20px 0 var(--loader-color, rgba(255,255,255,0.5)), -20px 0 #fff;
    background: var(--loader-color, rgba(255,255,255,0.5));
  }
  100% {
    box-shadow: 20px 0 var(--loader-color, rgba(255,255,255,0.5)), -20px 0 #fff;
    background: #fff;
  }
}